.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 8vh 0;
  box-sizing: border-box;
}

.container span {
  color: hsla(1, 37%, 52%, 1);
}

.container h2 {
  color: hsla(238, 27%, 20%, 1);
  margin-bottom: 2rem;
}

.container p {
  color: hsla(238, 27%, 20%, 1);
  padding: 0;
  margin-top: 0;
  margin-bottom: 3rem;
  margin-left: 0;
  margin-right: 0;
}

.container a {
  color: hsla(354, 82%, 62%, 1);
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
}

.containerHeader {
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.relativePosition {
  position: relative;
}

.marginPosition {
  margin-top: 10rem;
}

.startRow {
  display: flex;
  margin: 0 auto;
  padding: 0;
  align-items: flex-end;
  justify-content: space-between;
  gap: 7rem;
}

.row {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2rem;
}

.centerP {
  text-align: center;
}

.iconStyle {
  background-color: hsla(0, 0%, 98%, 1);
  border: none;
  border-radius: 50%;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  color: hsla(350, 53%, 33%, 1);
  box-shadow: 0 0.2em 0.5em rgb(203, 203, 203);
}