.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 6rem 2rem;
  margin: 0 auto;
}

.container span {
  color: hsla(1, 37%, 52%, 1);
  margin-top: 0;
  margin-bottom: 0;
}

.container h2 {
  color: hsla(238, 27%, 20%, 1);
  margin-top: 0;
  margin-bottom: 4.25rem;
}

.container p {
  color: hsla(238, 27%, 20%, 1);
  margin-top: 0;
  margin-bottom: 2.93rem;
}

.container a {
  color: hsla(354, 82%, 62%, 1);
  text-decoration: underline;
  margin-top: 0;
  margin-bottom: 0;
}

.relativeposition {
  position: relative;
}

.yellowSmallBall {
  position: absolute;
  z-index: -1;
  height: 2.8rem;
  width: 2.8rem;
  border: none;
  border-radius: 50%;
  background-color: hsla(46, 86%, 59%, 1);
  top: -0.6rem;
  left: -1rem;
}

.yellowMediumBall {
  position: absolute;
  z-index: -1;
  height: 1rem;
  width: 1rem;
  border: none;
  border-radius: 50%;
  background-color: hsla(46, 86%, 59%, 1);
  top: 9rem;
  right: -1.2rem;
}
