.container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 300px;
  border: none;
  border-radius: 25px;
  background-color: hsla(0, 0%, 100%, .8);
}

.container img {
  width: 50%;
}

.container h4 {
  color: hsla(0, 0%, 100%, 1);
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
}

.absolute {
  background-color: hsla(350, 53%, 33%, 1);
  opacity: 80%;
  position: absolute;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 25px;
}
