.container {
  position: fixed;
  z-index: 100000;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  margin: 0 auto;
  padding: 10px 50px;
  max-height: 50px;
  justify-content: space-around;
  align-items: center;
  background-color: hsla(46, 86%, 59%, 1);
  color: hsla(238, 27%, 20%, 1);
}

.container li {
  list-style-type: none;
}

.container a {
  text-decoration: none;
  color: hsla(238, 27%, 20%, 1);
  font-weight: 500;
  transition: 0.2s;
}

.container a:hover {
  color: hsla(0, 0%, 100%, 1);
}

.nav_list {
  display: flex;
  gap: 5rem;
}

.startRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.btn_red{
  color: hsla(0, 0%, 100%, 1);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(1, 37%, 52%, 1);
  padding: 10px 15px;
  margin: 0 .2rem;
  cursor: pointer;
  border: 2px solid hsla(0, 0%, 100%, 1);
  border-radius: 5px;
}

.btn_yellow{
  color: hsla(0, 0%, 100%, 1);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(46, 86%, 59%, 1);
  padding: 10px 15px;
  margin: 0 .2rem;
  cursor: pointer;
  border: 2px solid hsla(0, 0%, 100%, 1);
  border-radius: 5px;
}

.btn_black{
  color: hsla(0, 0%, 100%, 1);
  font-weight: bold;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(230, 6%, 18%, 1);
  padding: 10px 15px;
  margin: 0 .2rem;
  cursor: pointer;
  border: 2px solid hsla(0, 0%, 100%, 1);
  border-radius: 5px;
}